/*
    tablet = 768px
    laptop = 992px
    desktop = 1200px
*/

/* root variables for base color scheme */
:root {
  /* Primary Brand Colors */
  --primary: #ffc380; /* AWS Orange */
  --secondary: #f5f5f5; /* Cloud Gray */
  --accent: #007fff; /* Deep Sky Blue */

  /* Text Colors */
  --text-primary: #222222;
  --text-secondary: #555555;

  /* Backgrounds */
  --background: #ffffff;
  --card-background: #f5f5f5;
  --card-background-secondary: #d7d7d7;

  /* Borders / Dividers */
  --border: #e0e0e0;

  /* font family and weight */
  --font: "Open Sans", sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/* color scheme for dark mode */
.dark-mode {
  --primary: #ffc380; /* AWS Orange */
  --secondary: #1e1e1e; /* Dark Gray */
  --accent: #00bfff; /* Cyan Blue */

  /* Text Colors */
  --text-primary: #ffffff;
  --text-secondary: #aaaaaa;

  /* Backgrounds */
  --background: #121212;
  --card-background: #1e1e1e;

  /* Borders */
  --border: #444444;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/*centers the page */

body {
  min-height: 100vh; /* set min hieght to be size of the view port*/
  /* apply width to entire page to get the spaced look */
  font-family: var(--font);
  background-color: var(--background);
  color: var(--text-primary);
  padding-top: 120px;
  line-height: 1.6;
  letter-spacing: 0;
}

a,
a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none !important;
  color: var(--text-primary);
}

ul {
  list-style-type: none;
}

button {
  all: unset;
  cursor: pointer;
}

header {
  position: fixed; /* floating nav */
  top: 25px;
  left: 50%;
  transform: translateX(-50%);

  width: 90%;
  max-width: 1200px;
  padding: 1rem 2rem;

  background-color: var(--card-background);
  border-radius: 10px;
  border: 1px solid var(--border);

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 999;
}

/* hides the toggle menu only shows the label */

nav {
  position: absolute;
  background: white;
  box-shadow: 0 2px 2px #3a3a3a;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  display: none;
  top: 100%;
  background-color: var(--card-background);
  border-radius: 10px;
}
#menu {
}

#nav-toggle {
  display: none;
}

#theme-checkbox {
  display: none;
}

.nav-toggle-label {
}
.theme-toggle {
  position: relative;
  width: 50px;
  height: 26px;
  display: inline-block;
  cursor: pointer;
}
#nav-toggle:checked ~ nav {
  display: block;
}

main {
  width: 90%;
  margin: 0 auto;
}

section {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background: var(--card-background);
  border: 1px solid var(--border);
  border-radius: 10px;
  max-width: 1200px;
}

#hero {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

#hero-content > p {
  color: var(--text-secondary);
  line-height: 1.7;
}

#hero-btn {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background: var(--primary);
  border: 1px solid var(--border);
}

.carousel {
  margin-bottom: 50px;
}

#selection-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto; /* horizontal scroll on small screens */
  padding: 0.5rem;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.selection-item {
  flex: 0 0 auto; /* prevents from shrinking */
  padding: 0.5rem 1rem;
  border: 1px solid var(--border);
  border-radius: 10px;
}

#cards-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.cards {
  min-width: 300px;
  flex-shrink: 0;
  scroll-snap-align: start;
  padding: 20px;
  box-sizing: border-box;
  background: var(--card-background);
  border-radius: 10px;
  border: 2px solid var(--border);
}

.card-content {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.item1 {
  /*selecting items for each of the data cards */

  background: #fcffa8;
}

.item2 {
  /*selecting items for each of the data cards */
  background: #ffbdf5;
}

.item3 {
  /*selecting items for each of the data cards */
  background: #e0dbff;
}

.item4 {
  /*selecting items for each of the data cards */
  background: #dae8fd;
}

.card-content img {
  width: 80%; /* adjust size */
  max-width: 10000px; /* prevents it from getting too big */
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  width: auto;
  display: block;
  margin: 0 auto; /* centers the image */
}

.flip-card-container:hover .flip-card {
  transform: rotateY(180deg);
}

.flip-card {
  background-color: var(--card-background-secondary);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.flip-card-container {
  position: relative;
  width: auto;
  height: 400px;
}

.front {
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.flip-card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-secondary);
}

.flip-content-title {
  text-align: center;
}

.front-title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.deployment-models {
  display: grid;
  grid-template-column: 1fr;
  gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  header {
    gap: 2rem;
  }
  nav {
    position: relative;
    display: flex;
    justify-content: flex-end; /* or space-between / flex-end */
    align-items: center;
    gap: 2rem; /* spacing between items */
    background: none;
    border: none;
    box-shadow: none;
  }

  #menu {
    display: flex;
    margin: 0 auto;
    gap: 2rem;
    flex: end;
  }

  .nav-toggle-label {
    display: none;
  }

  .theme-toggle {
    display: block;
    order: 999;
  }

  #hero {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
  }

  #hero-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
  }

  #hero-btn {
    margin-top: auto;
    padding: 0.75rem 1.5rem;
  }

  main {
    height: auto;
  }

  .card-content {
    flex-direction: row;
    max-width: 600px;
    align-items: center;
    justify-content: center;
  }

  .deployment-models {
    grid-template-columns: repeat(2, 1fr);
  }
}
