/*
    tablet = 768px
    laptop = 992px
    desktop = 1200px
*/

/* root variables for base color scheme */
:root {
  /* Primary Brand Colors */
  --primary: #ff9900; /* AWS Orange */
  --secondary: #f5f5f5; /* Cloud Gray */
  --accent: #007fff; /* Deep Sky Blue */

  /* Text Colors */
  --text-primary: #222222;
  --text-secondary: #555555;

  /* Backgrounds */
  --background: #ffffff;
  --card-background: #f5f5f5;

  /* Borders / Dividers */
  --border: #e0e0e0;

  /* font family and weight */
  --font: "Open Sans", sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/* color scheme for dark mode */
.dark-mode {
  --primary: #ff9900; /* AWS Orange */
  --secondary: #1e1e1e; /* Dark Gray */
  --accent: #00bfff; /* Cyan Blue */

  /* Text Colors */
  --text-primary: #ffffff;
  --text-secondary: #aaaaaa;

  /* Backgrounds */
  --background: #121212;
  --card-background: #1e1e1e;

  /* Borders */
  --border: #444444;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/*centers the page */

body {
  min-height: 100vh; /* set min hieght to be size of the view port*/
  /* apply width to entire page to get the spaced look */
  font-family: var(--font);
  background-color: var(--background);
  color: var(--text-primary);
  padding-top: 120px;
  line-height: 1.6;
  letter-spacing: 0;
}

a,
a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none !important;
  color: var(--text-primary);
}

ul {
  list-style-type: none;
}

button {
  all: unset;
  cursor: pointer;
}

header {
  position: fixed; /* floating nav */
  top: 25px;
  left: 50%;
  transform: translateX(-50%);

  width: 90%;
  max-width: 1200px;
  padding: 1rem 2rem;

  background-color: var(--card-background);
  border-radius: 10px;
  border: 1px solid var(--border);

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 999;
}

/* hides the toggle menu only shows the label */

nav {
  position: absolute;
  background: white;
  box-shadow: 0 2px 2px #3a3a3a;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  display: none;
  top: 100%;
  background-color: var(--card-background);
  border-radius: 10px;
}
#menu {
}

#nav-toggle {
  display: none;
}

#theme-checkbox {
  display: none;
}

.nav-toggle-label {
}
.theme-toggle {
  position: relative;
  width: 50px;
  height: 26px;
  display: inline-block;
  cursor: pointer;
}
#nav-toggle:checked ~ nav {
  display: block;
}

main {
  width: 90%;
  margin: 0 auto;
  height: 85vh;
  background: var(--card-background);
  border: 1px solid var(--border);
  border-radius: 10px;
  max-width: 1200px;
}

section {
  width: 100%;
  padding: 20px;
}

#hero {
  height: 50vh;
  display: flex;
  flex-direction: column;
}

#hero-content > p {
  color: var(--text-secondary);
  line-height: 1.7;
}

#hero-btn {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background: var(--primary);
  border: 1px solid var(--border);
}

@media screen and (min-width: 768px) {
  header {
    gap: 2rem;
  }
  nav {
    position: relative;
    display: flex; /* enable flexbox */
    justify-content: flex-end; /* or space-between / flex-end */
    align-items: center;
    gap: 2rem; /* spacing between items */
    background: none;
    border: none;
    box-shadow: none;
  }

  #menu {
    display: flex;
    margin: 0 auto;
    gap: 2rem;
    flex: end;
  }

  .nav-toggle-label {
    display: none;
  }

  .theme-toggle {
    display: block;
    order: 999;
  }

  #hero {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
  }

  #hero-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
  }

  #hero-btn {
    margin-top: auto;
    padding: 0.75rem 1.5rem;
  }

  main {
    height: 50vh;
  }
}
